{% load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio </title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hey there! , I am</h6>
                <h1 class="t-white">Ujjawal Patel</h1>
                <h4 class="poppinss">Software Developer</h4>
                <a href="{% static 'pdf/resume.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                <a class="btn live poppins" id="hireme" href="https://www.linkedin.com/in/ujjawal-patel/"
                    target="_blank">Linkedin Profile</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/mypic.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/dog.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Ujjawal Patel</h1>
                    <p class="t-white poppins">My name is Ujjawal Patel. I’m a B.tech student in Information Technology.
                        
                        
                        I am fresher, I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.While I generally enjoy all of my job, the part I find most draining is estimating projects for customers. I don’t mind doing it, but I enjoy actually creating the software much more.</p>
                    
                </div>
            </div>
        </div>
    </section>

   <!-- Skills Section -->
<section id="skills">
    <h1 class="t-center my-2 t-white f-2">Skills</h1>
    <div class="services-container flex s-around h-50">
        <!-- Left Side - Image -->
        <div class="skills-left flex s-center items-center">
            <img src="{% static 'images/pro.png' %}" alt="Profile Image">
        </div>

        <!-- Right Side - Skills Progress Bars -->
        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <!-- Skill Progress Bars -->
                <div class="java bar p-relative" style="width: 70%;">
                    <span class="bar-content left t-white">Python</span>
                    <span class="bar-content right-skills t-white">70%</span>
                </div>
                <div class="html bar p-relative" style="width: 80%;">
                    <span class="bar-content left t-white">Web Development</span>
                    <span class="bar-content right-skills t-white">80%</span>
                </div>
                <div class="project-management bar p-relative" style="width: 70%;">
                    <span class="bar-content left t-white">Project Management</span>
                    <span class="bar-content right-skills t-white">70%</span>
                </div>
                <div class="android bar p-relative" style="width: 50%;">
                    <span class="bar-content left t-white">Android App Development</span>
                    <span class="bar-content right-skills t-white">50%</span>
                </div>
            </div>
        </div>
    </div>
</section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">FotoZ</h1>
                <p class="t-white poppins"> A vibrant gallery containing photos and videos captured by me as I am font of capturing beautiful moments and create memories to cherish forever.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ujjawal-patel/FotoZ"
                        target="_blanks" class="btn mx-1 m-top">GitHub repo</a>
                    <a href="https://ujjawal-patel.github.io/FotoZ/" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">All of I.T.</h1>
                <p class="t-white poppins">This is website made for students to get all the learning material like notes, manuals, assignments related to Information Technology field.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ujjawal-patel/All_Of_IT" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="https://ujjawal-patel.github.io/All_Of_IT/" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="contact" class="contact-section">
        <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-center items-centers">
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" placeholder="Enter Your Email" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-phone"></i>
                            <input type="tel" name="number" placeholder="Enter Your Phone" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-comment"></i>
                            <textarea name="content" placeholder="Enter Your Message" required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn poppins">Send</button>
                </form>
            </div>
        </div>
    </section>
    

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">UJJAWAL PATEL 
                </span></p>

    </footer>
     
</body> 
</html>